body {
  font-family: "Arial", sans-serif;
  background-color: #ffebee;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #e91e63;
  font-size: 2.5em;
}

.buttons {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

#yesButton {
  background-color: #4caf50;
  color: white;
}

#yesButton:hover {
  background-color: #45a049;
}

#noButton {
  background-color: #f44336;
  color: white;
  position: relative;
}

#noButton:hover {
  background-color: #e53935;
}
